{% extends "master_nav_footer.html" %}
{% load static %}
{% block content1 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
    <link
      rel="stylesheet"
      45
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Style.css" />
  </head>
  <body>
 
    <!--====================== Cart Section ======================-->
    <div class="container mt-5">
      <h1 class="mb-4">Your Shopping Cart</h1>
      <div class="row">
        <div class="col-md-8">
          {% if cart %}
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th class="align-bottom pb-2">
                  <button class="btn btn-outline-danger">Remove All</button>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in cart %}
              <tr class="align-content-center">
                <td>
                  <img src="{{i.pro.image.url}}" alt="" height="200px" width="200px" />
                </td>
                <td>₹{{i.pro.price}}</td>
                <td>
                  {% if i.pro.stock <= 0 %}
                    <p style="color: green;">
                      Currently this product is out of stock.                      
                    </p>
                  {% elif i.qty > i.pro.stock %}
                   <a href={% url "plus_pro" i.id %}><button class="increase items-count btn mr-1" type="button">
                    <i class="fa fa-plus text-dark"></i></button></a>
                  
                  <button  class="border-0 btn">{{i.qty}}</button>

                  <a href={% url "minus_pro" i.id %}><button class="increase items-count btn" type="button">
                    <i class="fa fa-minus text-dark"></i>
                  </button>
                  </a>
                  <p style="color: green;">
                      Only {{i.pro.stock}} unit is available in stock.    
                    </p>

                  {% else %}
                  <a href={% url "plus_pro" i.id %}><button class="increase items-count btn mr-1" type="button">
                    <i class="fa fa-plus text-dark"></i></button></a>
                  
                  <button  class="border-0 btn">{{i.qty}}</button>

                  <a href={% url "minus_pro" i.id %}><button class="increase items-count btn" type="button">
                    <i class="fa fa-minus text-dark"></i>
                  </button>
                  </a>
                  {% endif %}

                  
                </td>
                <td>
                   {% if i.pro.stock <= 0 %}
                   {% else %}
                    ₹{{i.total_price}}
                  {% endif %}</td>
                <td class="align-bottom pb-3">
                  <button class="btn btn-outline-danger">Remove</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>Your cart is empty , add product to cart to proceed further.</p>
          {% endif %}
        </div>
        <div class="col-md-3 ml-auto mt-0 pt-0">
          <!-- <div class="card border-0">
            <a href="" class="ml-auto"
              ><i class="fa-solid fa-xmark-circle text-dark"></i
            ></a>
            <hr />
            <img
              class="card-img"
              src="Img/3671942.jpg"
              alt=""
              height="200px"
              width="200px"
            />
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p>
                Description : Lorem ipsum dolor sit amet consectetur
                adipisicing.
              </p>
              <p>Price : ₹55</p>
              <p>Quantity: 2</p>
              <hr />
              <p><b>Total: </b>₹55.00</p>
            </div>
          </div> -->
          {% if cart %}
          <div class="card p-2">
            <div class="card-body">
              <h5 class="card-title">Summary</h5>
              <hr />
              <p><strong>Total: </strong>₹{{total}}</p>
              <a href={% url "checkout_cart" %}>
              <button class="btn btn-outline-success btn-block">
                Checkout
              </button>
            </a>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
 
  </body>
</html>
{% endblock content1 %}